@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    background-color: #f8f9fa; /* Un gris muy claro */
     min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}